*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  /* background: rgb(226, 230, 226); */
  background: linear-gradient(to right bottom,  rgb(200, 204, 200) 30%, rgb(129, 129, 129) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 500px;
  height: 500px;
  background: rgb(100, 139, 100);
}
.chance-score{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 10px;
  /* background: red; */
  margin: 10px 0;
}
.score{
  margin-right: 20px;
}
.chance{
  margin-left: 20px;
}
.chance span, #chance{
  color: rgb(154, 24, 24);
  font-size: 26px;
  font-weight: bold;
}
.score span{
  color: rgb(33, 232, 33);
  font-size: 26px;
  font-weight: bold;
}

.questions{
  text-align: center;
  /* background: yellow; */
  padding: 10px; 
  font-size: 30px;
  margin: 10px 0;
  color: rgb(221, 227, 226);
}
.images{
  /* background: purple; */
  text-align: center;
  margin: 10px 0;
  padding: 10px;
}
.images img{
  width: 120px;
}
.answer{
  text-align: center;
  font-size: 34px;
  color: #fff;
  /* background: gold; */
  padding: 10px;
  margin: 10px 0;
}
.answer span{
  /* width: 120px; */
  background: grey;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 40px;
}
.choices{
  /* background: orangered; */
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  /* margin: 10px 0; */
  color: #fffbfb;
}
/* .choices:hover .choice{
  padding: 14px;
  transition: 0.5s;
  box-shadow: 2px 2px 10px #fff;
} */
.choice{
  width: 120px;
  background: rgb(84, 116, 126);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  
}
.answer .win {
  background: green;
  color: #fff;
}
.answer .lose{
  background: red;

}
.btn{
  width: 350px;
  height: 150px;
  background: rgba(120, 108, 108, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 140px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(24, 23, 23), -5px -5px 10px rgb(24, 23, 23);
  display: none;
}
button{
  padding: 10px 30px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  background: rgb(3, 171, 3);
  box-shadow: 5px 5px 10px rgb(185, 182, 182), -5px -5px 10px rgb(185, 182, 182);
  cursor: pointer;
  color: #fff;
  color: rgb(177, 178, 177);
}

/*
 /*{
      "image": "./animalImg/fox.png",
      "name": "fox"
    },
    {
      "image": "./animalImg/frog.png",
      "name": "frog"
    },
    {
      "image": "./animalImg/horse.png",
      "name": "horse"
    },
    {
      "image": "./animalImg/kangaroo.png",
      "name": "kangaroo"
    },
    {
      "image": "./animalImg/lion.png",
      "name": "lion"
    },
    {
      "image": "./animalImg/monkey.png",
      "name": "monkey"
    },
    {
      "image":"./animalImg/mouse.png",
      "name": "mouse"
    },
    {
      "image": "./animalImg/panda.png",
      "name": "panda"
    },
    {
      "image": "./animalImg/rabbit.png",
      "name": "rabbit"
    },
    {
      "image": "./animalImg/sheep.png",
      "name": "sheep"
    },
    {
      "image": "./animalImg/squirrel.png",
      "name": "squirrel"
    },
    {
      "image": "./animalImg/turtle.png",
      "name": "turtle"
    },
    {
      "image": "./animalImg/whale.png",
      "name": "whale"
    },
    {
      "image":"./animalImg/zebra.png",
      "name": "zebra"
    }*/
